<footer
  id="footer"
  class="text-center bg-body-tertiary text-muted border-top bg-light text-dark darkmode"
>
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <div class="d-flex flex-row justify-content-center mw-50">
      <i class="mx-sm-4 mx-2 fab fa-facebook-f"></i>
      <i class="mx-sm-4 mx-2 fab fa-twitter"></i>
      <i class="mx-sm-4 mx-2 fab fa-google"></i>
      <i class="mx-sm-4 mx-2 fab fa-instagram"></i>
      <i class="mx-sm-4 mx-2 fab fa-linkedin"></i>
      <i class="mx-sm-4 mx-2 fab fa-github"></i>
    </div>
  </section>
  <section>
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-4 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i><span data-i18n="aboutMeH6"></span>
          </h6>
          <p class="mx-2" id="aboutMeP" data-i18n="aboutMeP"></p>
        </div>
        <div class="col-md-4 mx-auto mb-md-0 mb-4 text-nowrap">
          <h6 class="text-uppercase fw-bold mb-4" data-i18n="contactMe">
            Contact Me:
          </h6>
          <p class="m-0 mb-2">
            <i class="fas fa-envelope me-3"></i>
            sohaib.b.development@gmail.com
          </p>
          <a href="https://github.com/SohaibBahrami" class="d-block mb-2"
            ><i class="fab fa-github"></i
            ><span class="ms-3" data-i18n="github">Github</span></a
          >
          <a
            href="https://www.linkedin.com/in/sohaib-bahrami/"
            class="d-block mb-2"
            ><i class="fab fa-linkedin"></i
            ><span class="ms-3" data-i18n="linkedIn">LinkedIn</span></a
          >
        </div>
      </div>
    </div>
  </section>
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
    © 2025 Copyright:
    <a class="fw-bold mx-2" href="">Track.com</a>
  </div>
</footer>
