<%- layout('layouts/boilerplate') %>
<head>
  <link rel="stylesheet" href="/stylesheets/home.css" />
</head>
<body>
  <header>
    <section>
      <div id="bg-image"></div>
      <div id="header-text">
        <h1 class="display-3">
          Welcome To
          <span class="border-bottom border-danger border-4 rounded"
            >Track</span
          >
        </h1>
        <p class="display-6">
          The All-in-one tool to take your productivity to the next level
        </p>
      </div>
    </section>
    <section>
      <img
        class="img-fluid"
        id="app-screenshot"
        src="assets/image13.webp"
        alt="app screenshot"
      />
    </section>
    <section class="mt-3">
      <ul id="special-features" class="row">
        <li class="col"><i class="fa-solid fa-bolt"></i> Fast & Responsive</li>
        <li class="col"><i class="fa-solid fa-dollar-sign"></i> Free to Use</li>
        <li class="col">
          <i class="fa-solid fa-fingerprint"></i> Fully Personalized
        </li>
      </ul>
    </section>
  </header>
  <main>
    <section id="mid-section-text">
      <h2>
        Journaling your goals, <br />
        brings you closer to them
      </h2>
    </section>
    <section id="collapse-section" class="container">
      <div class="row col-12">
        <article id="why-use-planner" class="col-6 accordion accordion-flush">
          <div class="accordion-item">
            <div class="accordion-header" id="headingLeft">
              <button
                type="button"
                class="accordion-button mb-3"
                data-toggle="collapse"
                data-target="#collapseLeft"
                aria-expanded="true"
                aria-controls="collapseLeft"
              >
                <h4 class="m-3">Why Use a Tool For Planning?</h4>
              </button>
              <div
                id="collapseLeft"
                class="accordion-collapse show"
                aria-labelledby="headingLeft"
              >
                <div class="accordion-body" data-parent="#accordion">
                  <ul id="advantage-list">
                    <li>
                      <i class="fa-solid fa-thumbs-down"></i
                      ><b> They help plan and organize goals</b> and break them
                      down into tasks,
                    </li>
                    <br />
                    <li>
                      <i class="fa-solid fa-thumbs-down"></i
                      ><b> You'll always know the next step,</b> along with the
                      required resources ,
                    </li>
                    <br />
                    <li>
                      <i class="fa-solid fa-thumbs-down"></i
                      ><b> Determine task duration and dependencies,</b> as well
                      as deadlines.
                    </li>
                    <br />
                    <li>
                      <i class="fa-solid fa-thumbs-down"></i
                      ><b> You can cooperate with your friends,</b> for a boost
                      in motivaion.
                    </li>
                    <br />
                    <li>
                      <i class="fa-solid fa-thumbs-down"></i
                      ><b> It will bring balance to your life,</b> managing
                      hobbies, family time and self-care.
                    </li>
                  </ul>
                </div>
                <div class="d-flex justify-content-center">
                  <img
                    id="brain-image"
                    src="assets/pngtree-human-brain-diagram-png-image_14644407.webp"
                    class="img-fluid"
                    alt="teamwork image"
                  />
                </div>
              </div>
            </div>
          </div>
        </article>
        <article id="accordion" class="col-6 accordion accordion-flush">
          <div class="accordion-item">
            <div class="accordion-header" id="headingOne">
              <button
                type="button"
                class="accordion-button"
                data-toggle="collapse"
                data-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                <h5 class="mb-0">The Importance of Planning</h5>
              </button>
            </div>
            <div
              id="collapseOne"
              class="accordion-collapse show"
              aria-labelledby="headingOne"
            >
              <div class="accordion-body" data-parent="#accordion">
                <p>
                  By determining in prior the tasks to be completed, planning
                  notes the way to deal with changes and unpredictable effects.
                </p>
                <br />
                <h4>
                  It helps us achieve our goals, and allows for more efficient
                  use of time and other resources.
                </h4>
                <br />
                <h6>Not planning leads to:</h6>
                <br />
                <ul id="downsides">
                  <li>
                    <i class="fa-solid fa-thumbs-down"></i>Wasted resources
                  </li>
                  <br />
                  <li>
                    <i class="fa-solid fa-thumbs-down"></i>Unpredictable results
                  </li>
                  <br />
                  <li>
                    <i class="fa-solid fa-thumbs-down"></i>Less oppurtunity for
                    cooperation
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <div class="accordion-header" id="headingTwo">
              <button
                type="button"
                class="accordion-button"
                data-toggle="collapse"
                data-target="#collapseTwo"
                aria-expanded="true"
                aria-controls="collapseTwo"
              >
                <h5 class="mb-0">The Curse of Overplanning</h5>
              </button>
            </div>

            <div
              id="collapseTwo"
              class="accordion-collapse show"
              aria-labelledby="headingTwo"
            >
              <div class="accordion-body" data-parent="#accordion">
                <p>
                  Excessive planning can lead to anxiety, disappointment,
                  stunted creativity, lack of trust and scattered focus. I also
                  have seen “overplanning” actually hinder performance and limit
                  success.
                </p>
                <br />
                <h4>It's a form of procrastination</h4>
                <br />
                <img
                  id="procrastination-image"
                  class="img-fluid rounded d-block"
                  src="assets/936q8cqzvn6a1.webp"
                  alt="overplanning image"
                />
              </div>
            </div>
          </div>
        </article>
      </div>
    </section>
    <section id="reviews" class="container">
      <div class="card-group">
        <div class="card">
          <div class="m-1 text-center">
            <img
              class="review-users-image mb-2"
              src="assets/Gholam.webp"
              alt="Card image cap"
            />
            <small class="text-muted text-nowrap">Rauf Miller</small>
          </div>
          <div class="card-body">
            <div class="review-stars">
              <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
              ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
              ><i class="fa-solid fa-star"></i>
            </div>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="m-1 text-center">
            <img
              class="review-users-image mb-2"
              src="assets/i0_wp_com-portrait-happy-smiley-man-1.webp"
              alt="Card image cap"
            />
            <small class="text-muted text-nowrap">Michael White</small>
          </div>
          <div class="card-body">
            <div class="review-stars">
              <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
              ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
              ><i class="fa-solid fa-star"></i>
            </div>
            <p class="card-text">
              This card has supporting text below as a natural lead-in to
              additional content.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="m-1 text-center">
            <img
              class="review-users-image mb-2"
              src="assets/Rachel-Montañez.webp"
              alt="Card image cap"
            />
            <small class="text-muted text-nowrap">Rachel Montañez</small>
          </div>
          <div class="card-body">
            <div class="review-stars">
              <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
              ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
              ><i class="fa-solid fa-star"></i>
            </div>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This card has even longer content
              than the first to show that equal height action.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section id="blog-section" class="container">
      <h2 class="display-6 text-capitalize mb-4">
        Check out our blog for some tips
      </h2>
      <p class="mb-3">
        Our blog will help you with various topics surrounding self-improvement.
        <br />
        Including <b class="my-3">Fitness, Mental Health and Relationships</b>
      </p>
      <button class="btn btn-primary" href="">Visit Now</button>
    </section>
    
  </main>
</body>
