<%- layout('layouts/boilerplate') %>
<head>
  <link rel="stylesheet" href="/stylesheets/home.css" />
</head>
<body>
  <header>
    <section>
      <div id="bg-image" class="lightmode"></div>
      <div id="header-text">
        <h1 class="display-3">
          <span data-i18n="welcome"></span>

          <span
            class="border-bottom border-danger border-4 rounded"
            data-i18n="welcomeTrack"
          ></span>
        </h1>
        <p class="display-6 mx-5" data-i18n="tagline"></p>
        <button class="btn btn-primary">
          <a href="" data-i18n="getStarted"></a>
        </button>
      </div>
    </section>
    <section id="app-screenshot-section" class="d-none d-sm-flex lightmode">
      <img
        class="img-fluid lightmode"
        id="app-screenshot"
        src="assets/image13.webp"
        alt="app screenshot"
      />
    </section>
    <section class="mt-3 d-none d-sm-flex container">
      <ul id="special-features" class="row flex-nowrap justify-content-center">
        <li class="col">
          <i class="dark-icons fa-solid fa-bolt lightmode"></i>
          <span data-i18n="specialFeatures.fast"></span>
        </li>
        <li class="col">
          <i class="dark-icons fa-solid fa-dollar-sign lightmode"></i
          ><span data-i18n="specialFeatures.free">e</span>
        </li>
        <li class="col">
          <i class="dark-icons fa-solid fa-fingerprint lightmode"></i>
          <span data-i18n="specialFeatures.personalized"></span>
        </li>
      </ul>
    </section>
  </header>
  <main>
    <section id="mid-section-text">
      <h2 class="mx-auto">
        <span data-i18n="midSectionText1">J</span><br /><span
          data-i18n="midSectionText2"
        >
        </span>
      </h2>
    </section>
    <section id="collapse-section" class="container d-none d-md-flex lightmode">
      <div class="row col-12">
        <article id="why-use-planner" class="col-6 accordion accordion-flush">
          <div class="accordion-item">
            <div class="accordion-header" id="headingLeft">
              <button
                type="button"
                class="accordion-button mb-3"
                data-toggle="collapse"
                data-target="#collapseLeft"
                aria-expanded="true"
                aria-controls="collapseLeft"
              >
                <h4 class="accordion-h m-3" data-i18n="whyUseTool"></h4>
              </button>
              <div
                id="collapseLeft"
                class="accordion-collapse show"
                aria-labelledby="headingLeft"
              >
                <div class="accordion-body" data-parent="#accordion">
                  <ul id="advantage-list">
                    <li>
                      <i class="fa-solid fa-thumbs-down"></i
                      ><b data-i18n="firstUpsideBold"> </b
                      ><span data-i18n="firstUpside"> </span>
                    </li>
                    <br />
                    <li>
                      <i class="fa-solid fa-thumbs-down"></i
                      ><b data-i18n="secondUpsideBold"> </b
                      ><span data-i18n="secondUpside"> </span>
                    </li>
                    <br />
                    <li>
                      <i class="fa-solid fa-thumbs-down"></i
                      ><b data-i18n="thirdUpsideBold"> </b
                      ><span data-i18n="thirdUpside"> </span>
                    </li>
                    <br />
                    <li>
                      <i class="fa-solid fa-thumbs-down"></i
                      ><b data-i18n="fourthUpsideBold"> </b
                      ><span data-i18n="fourthUpsideBold"> </span>
                    </li>
                    <br />
                    <li>
                      <i class="fa-solid fa-thumbs-down"></i
                      ><b data-i18n="fifthUpsideBold"> </b
                      ><span data-i18n="fifthUpsideBold"> </span>
                    </li>
                  </ul>
                </div>
                <div class="d-flex justify-content-center">
                  <img
                    id="brain-image"
                    src="assets/pngtree-human-brain-diagram-png-image_14644407.webp"
                    class="img-fluid"
                    alt="teamwork image"
                  />
                </div>
              </div>
            </div>
          </div>
        </article>
        <article id="accordion" class="col-6 accordion accordion-flush">
          <div class="accordion-item h-50">
            <div class="accordion-header" id="headingOne">
              <button
                type="button"
                class="accordion-button"
                data-toggle="collapse"
                data-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                <h5
                  class="mb-0 accordion-h"
                  data-i18n="importanceOfPlanning"
                ></h5>
              </button>
            </div>
            <div
              id="collapseOne"
              class="accordion-collapse show"
              aria-labelledby="headingOne"
            >
              <div class="accordion-body" data-parent="#accordion">
                <p data-i18n="importanceFirstP"></p>
                <br />
                <h4 data-i18n="importanceH4"></h4>
                <br />
                <h6 data-i18n="importanceH6"></h6>
                <br />
                <ul id="downsides">
                  <li>
                    <i class="fa-solid fa-thumbs-down"></i
                    ><span data-i18n="firsthDownside"></span>
                  </li>
                  <br />
                  <li>
                    <i class="fa-solid fa-thumbs-down"></i
                    ><span data-i18n="secondDownside"></span>
                  </li>
                  <br />
                  <li>
                    <i class="fa-solid fa-thumbs-down"></i
                    ><span data-i18n="thirdDownside"></span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <div class="accordion-header" id="headingTwo">
              <button
                type="button"
                class="accordion-button"
                data-toggle="collapse"
                data-target="#collapseTwo"
                aria-expanded="true"
                aria-controls="collapseTwo"
              >
                <h5
                  class="mb-0 accordion-h"
                  data-i18n="curseOfOverplanning"
                ></h5>
              </button>
            </div>

            <div
              id="collapseTwo"
              class="accordion-collapse show"
              aria-labelledby="headingTwo"
            >
              <div class="accordion-body" data-parent="#accordion">
                <p data-i18n="curseFirstP"></p>
                <br />
                <h4 data-i18n="curseH4"></h4>
                <br />
                <img
                  id="procrastination-image"
                  class="img-fluid rounded d-block"
                  src="assets/936q8cqzvn6a1.webp"
                  alt="overplanning image"
                />
              </div>
            </div>
          </div>
        </article>
      </div>
    </section>
    <section id="reviews" class="container">
      <div class="card-group flex-wrap mx-1">
        <div class="card">
          <div class="text-center">
            <img
              class="review-users-image mb-2"
              src="assets/Gholam.webp"
              alt="Card image cap"
            />
            <small class="text-muted text-nowrap" data-i18n="rauf"></small>
          </div>
          <div class="card-body">
            <div class="review-stars text-nowrap">
              <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
              ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
              ><i class="fa-solid fa-star"></i>
            </div>
            <p class="card-text" data-i18n="raufText"></p>
          </div>
        </div>
        <div class="card">
          <div class="text-center">
            <img
              class="review-users-image mb-2"
              src="assets/i0_wp_com-portrait-happy-smiley-man-1.webp"
              alt="Card image cap"
            />
            <small class="text-muted text-nowrap" data-i18n="michael"></small>
          </div>
          <div class="card-body">
            <div class="review-stars text-nowrap">
              <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
              ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
              ><i class="fa-solid fa-star"></i>
            </div>
            <p class="card-text" data-i18n="michaelText"></p>
          </div>
        </div>
        <div class="card">
          <div class="text-center">
            <img
              class="review-users-image mb-2"
              src="assets/Rachel-Montañez.webp"
              alt="Card image cap"
            />
            <small class="text-muted text-nowrap" data-i18n="rachel"></small>
          </div>
          <div class="card-body">
            <div class="review-stars text-nowrap">
              <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
              ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
              ><i class="fa-solid fa-star"></i>
            </div>
            <p class="card-text" data-i18n="rachelText"></p>
          </div>
        </div>
      </div>
    </section>
    <section
      id="blog-section"
      class="d-flex align-items-center justify-content-center my-4"
    >
      <h2
        class="display-6 text-capitalize mb-4 text-center"
        data-i18n="blogHeader"
      ></h2>
      <p class="mb-3 text-wrap text-center">
        <span data-i18n="blogDescription"> </span>
        <br />
        <b class="my-3" data-i18n="blogBold"></b>
      </p>
      <button class="btn btn-primary">
        <a href="" data-i18n="blogButton"></a>
      </button>
    </section>
  </main>
</body>
