body {
    overflow-x: hidden;
    position: relative;
    background-color: #F4FDFF;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

section:has(#app-screenshot, #bg-image) {
    width: 100vw;
    height: 100vh;
}

#bg-image {
    background-image: url("/assets/jordan-andrews-A5EUGGHqs4A-unsplash.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(1.5px);
    width: 101vw;
    height: 100vh;
    overflow: hidden;
}


#header-text {
    text-align: center;
    color: white;
    position: absolute;
    top: 30vh;
    padding: 4vh 4vw;
    max-width: 50vw;
    max-height: 50vh;
    border: 2px dashed white;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(4px);
}

#header-text>p {
    color: #AAA;
}

nav {
    opacity: 80%;
    /* width: 100vw; */
}

nav a {
    margin-left: 3%;
}

#app-screenshot {
    width: 50vw;
    height: 70vh;
    align-self: center;
    border-radius: 10px;
    filter: drop-shadow(2px 2px 20px);
    transform: translateY(-40%);
}

section:has(#app-screenshot) {
    max-height: 60vh;
    background-image: url('/assets/pngtree-vector-illustration-of-white-pattern-background-on-grid-paper-with-dashed-lineseps10-vector-png-image_31573984.webp');
    border-bottom: #CCC 1px solid;
    box-shadow: inset 0px -50px 500px #FFF;
}

section:has(h2) {
    height: 20vh;
}

section>ul {
    width: 50%;
    list-style: none;
}

i {
    padding: 10px;
    color: gray;
    background-color: rgba(200, 200, 100, 0.6);
    border-radius: 10px;
    margin-right: 5px;
}

section:has(h2) {
    height: 50vh;
    align-items: start;
    justify-content: end;
    border-bottom: #CCC 1px solid;
}

h2 {
    margin: 0 0 8vh 10vw;
    font-size: 3rem;
}