body {
    overflow-x: hidden;
    position: relative;
    background-color: #F4FDFF;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

li {
    list-style: none;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

section:has(#app-screenshot, #bg-image) {
    width: 100vw;
    height: 100vh;
}

#bg-image {
    background-image: url("/assets/jordan-andrews-A5EUGGHqs4A-unsplash.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(1.5px);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


#header-text {
    text-align: center;
    color: white;
    position: absolute;
    top: 30vh;
    text-shadow: 2px 2px 2px black;
}

#header-text p {
    font-size: 1.5rem;
}


nav {
    opacity: 80%;
    width: 100vw;
}

nav a {
    margin-left: 3%;
}

#app-screenshot {
    width: 60vw;
    height: 80vh;
    border-radius: 10px;
    filter: drop-shadow(2px 2px 20px);
    transform: translateY(-40%);
}

section:has(#app-screenshot) {
    max-height: 60vh;
    background-image: url('/assets/pngtree-vector-illustration-of-white-pattern-background-on-grid-paper-with-dashed-lineseps10-vector-png-image_31573984.webp');
    border-bottom: #BBB 1px solid;
    box-shadow: inset 0px -50px 500px #FFF;
}

section:has(h2) {
    height: 20vh;
}

section>ul {
    width: 50%;
}

#special-features li i {
    padding: 10px;
    color: gray;
    background-color: rgba(200, 200, 100, 0.6);
    border-radius: 10px;
    margin-right: 5px;
}

section:has(h2) {
    height: 50vh;
    align-items: start;
    justify-content: end;
    border-bottom: #BBB 1px solid;
}

h2 {
    margin: 0 0 8vh 10vw;
    font-size: 3rem;
}

h5 {
    color: black;
}

#collapse-section {
    padding: 0;
}

.accordion {
    padding: 0;
}

.accordion-button:enabled,
.accordion-button:active,
.accordion-button:focus {
    background-color: transparent;
    border: 0;
}

.accordion-item {
    border: 0;
    background-color: rgba(255, 255, 255, 0.75);
    border-bottom: #BBB 1px solid;
    border-left: #BBB 1px solid;
}

.accordion-button h5 {
    font-size: 1.1rem;
}

#collapse-section {
    background-image: url('/assets/pngtree-vector-illustration-of-white-pattern-background-on-grid-paper-with-dashed-lineseps10-vector-png-image_31573984.webp');
    border-bottom: #BBB 1px solid;
    box-shadow: inset 50px 50px 500px white, inset -50px -50px 500px white;
}

.accordion-body {
    width: 75%;
}

#collapseOne h4 {
    border-left: red 2px solid;
    padding-left: 10px;
}

#downsides li i {
    color: red;
    margin-right: 10px;
    transform: rotateY(180deg);
}

#collapseTwo .accordion-body h4 {
    border-left: red 2px solid;
    padding-left: 10px;
}

#procrastination-image {
    max-width: 80%;
    max-height: 80%;
}

#why-use-planner {
    background-color: rgba(255, 255, 255, 0.75);
    border-right: #BBB 1px solid;
    padding: 0;
}

#why-use-planner h4 {
    color: black;
}

#advantage-list {
    width: 100%
}

#advantage-list li i {
    transform: rotateX(180deg);
    color: green;
    margin-right: 10px;
}

#brain-image {
    margin-top: 10%;
    max-width: 75%;
    max-height: 100%;
}